@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
}

@layer components  {
    .backdrop-modal {
        @apply fixed inset-0 z-50 flex items-center justify-center bg-[#000000e1] bg-opacity-50;
    }
}
.breathing-image {
    animation: breathe 4s ease-in-out infinite;
}

@keyframes breathe {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.07);
    }
    100% {
        transform: scale(1);
    }
}